<h2>Recipe: <%= @recipe.title %></h2>

<h4>Instructions:</h4>
<ul><li><%= @recipe.instructions %></li></ul>

<h4>Current ingredients in this recipe:</h4>

<% if @recipe.ingredients.any? %>
  <ul>
    <% @recipe.ingredients.each do |ingredients| %>
      <li><%= ingredients.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet!</p>
<% end %>

<h4>This recipe's categories:</h4>

<% if @recipe.tags.any? %>
  <ul>
    <% @recipe.tags.each do |tags| %>
      <li><%= tags.category %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no categories yet!</p>
<% end %>


<button><h4><a href="/recipes/<%= @recipe.id() %>/ingredients">Add ingredients to this recipe</a></h4></button>
<br><br>
<button><h4><a href="/recipes/<%= @recipe.id() %>/tags">Add this recipe to a category</a></h4></button>
