<h2>Recipe: <%= @recipe.title %></h2>
<h3>Instructions: <%= @recipe.instructions %></h3>

<h4>Current ingredients in this recipe:</h4>

<% if @recipe.ingredients.any? %>
  <ul>
    <% @recipe.ingredients.each do |ingredients| %>
      <li><%= ingredients.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet!</p>
<% end %>

<p><a href="/recipes/<%= @recipe.id() %>/edit">Edit Recipe</a></p>

<h4>Add new ingredients to this recipe:</h4>

<form action="/recipes/<%= @recipe.id() %>/ingredients" method="post">
  <div class="form-group">
    <select name="ingredient_id">
      <% @available_ingredients.each do |ingredient| %>
        <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button btn-success">Add ingredient to recipe!</button>
</form>

<h4>Add this category to a recipe:</h4>

<form action="/recipes/<%= @recipe.id() %>/tags" method="post">
  <div class="form-group">
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.category %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button btn-success">Add this category to a recipe!</button>
</form>
