<div class="container" id="recipe">
  <h2>Recipe: <%= @recipe.title %></h2>

  <h4>Instructions:</h4>
  <ul><li><%= @recipe.instructions %></li></ul>

  <h4>Current ingredients in this recipe:</h4>

  <% if @recipe.ingredients.any? %>
    <ul>
      <% @recipe.ingredients.each do |ingredients| %>
        <li><%= ingredients.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>There are no ingredients yet!</em></p>
  <% end %>

  <h4>This recipe's categories:</h4>

  <% if @recipe.tags.any? %>
    <ul>
      <% @recipe.tags.each do |tags| %>
        <li><%= tags.category %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>There are no categories yet!</em></p>
  <% end %>

  <br>
  <br>

  <button type="button" class="btn btn-outline-info"><a href="/recipes/<%= @recipe.id() %>/ingredients">Add ingredients to this recipe</a></button>
  <br><br>
  <button type="button" class="btn btn-outline-info"><a href="/recipes/<%= @recipe.id() %>/tags">Add a category to this recipe</a></button>
  <button type="button" class="btn btn-danger"><a href="/recipes/<%= @recipe.id() %>/edit">Edit this Recipe</a></button>
</div>
